<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="local" />
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=OverflowVictor;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <add name="remote" connectionString="Server=6e480528-87e8-4c99-a579-a45000781244.sqlserver.sequelizer.com;Database=db6e48052887e84c99a579a45000781244;User ID=thoplsjdrwmjylcr;Password=Wz5GL6bUxoQ8nRVE6QCTyqgK7QNGHLp8bVD5zfRWqWmnbx47g7yr7tqFssH5rBkU;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>